// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  font-style: 'Lacquer', sans-serif;
}

.button{
  background-color: blue;
  font-size: 15px;
  color: white;
  padding: 10px;

}

#question{
  padding:10px;
  width: 400px;
}
